*{
        padding: 0%;
        margin: 0%;
        color: white;
    }


    body{
        background-color: #161617;
    }


    .header__wrapper{
        background-color: #0A0E0F;
    }
    .header__area {
        height: 80px;
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
    }
    header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0.5rem;
    }
    header>p{
        color: white;
        font-size: 2.5rem;
        font-weight: 700;
    }
    header>ul{
        display: flex;
    }
    header>ul>li{
        list-style-type: none;
        margin-left: 2rem;
    }
    header>ul>li>a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
    }
    header>ul>li>a:hover{
        border-bottom: 2px solid gray;
    }
    @media screen and (max-width:100%) {
        header{
            flex-direction: column;
        }
    }


    .main_video{
        text-align: center;
    }
    .main_video video {
         mask-image: 
        linear-gradient(to top,    rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
        linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
        linear-gradient(to left,   rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
        linear-gradient(to right,  rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%);
    -webkit-mask-image:
        linear-gradient(to top,    rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
        linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
        linear-gradient(to left,   rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
        linear-gradient(to right,  rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%);
    
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
    
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    }


    .intro{
        margin-top: 3rem;
        padding: 0 3rem;
        text-align: center;
    }
    .intro>p{
        margin-bottom: 2rem;
    }
    .intro>p:first-child{
        font-size: 2rem;
        font-weight: 900;
    }
    .intro>p:last-of-type{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .intro>a{
        display: block;
        border: 1px solid black;
        width: 150px;
        font-size: 1.3rem;
        font-weight: 600;
        margin: auto;
        padding: 1rem;
        border-radius: 10px;
        text-decoration: none;
    }
    .intro .content-intro>p{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 20px;
        
    }
    .intro .content-intro>p>a{
        display: block;
        border: 1px solid black;
        width: 150px;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0 10px;
        padding: 1rem;
        border-radius: 10px;
        text-decoration: none;
    }


    .slider__country {
        width: 90%;
        max-width: 100%;
        margin-inline: auto;
        position: relative;
        height: 240px;
        margin-top: 2rem;
        overflow: hidden;
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );
    }
    @keyframes scrollLeft {
        to {
            left: -240px;
        }
    }
    .item {
        width: 200px;
        height: 100px;
        background-color: red;
        border-radius: 4px;
        position: absolute;
        left: max(calc(200px * 10), 100%);
        animation-name: scrollLeft;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .item1 {
        animation-delay: calc(20s / 10 * (10 - 1) * -1);
    }
    .item1 img{
        width: 100%;
        border-radius: 4px;
    }
    .item2 {
        animation-delay: calc(20s / 10 * (10 - 2) * -1);
    }
    .item2 img{
        width: 100%;
        border-radius: 4px;
    }
    .item3 {
        animation-delay: calc(20s / 10 * (10 - 3) * -1);
    }
    .item3 img{
        width: 100%;
        border-radius: 4px;
    }
    .item4 {
        animation-delay: calc(20s / 10 * (10 - 4) * -1);
    }
    .item4 img{
        width: 100%;
        border-radius: 4px;
    }
    .item5 {
        animation-delay: calc(20s / 10 * (10 - 5) * -1);
    }
    .item5 img{
        width: 100%;
        border-radius: 4px;
    }
    .item6 {
        animation-delay: calc(20s / 10 * (10 - 6) * -1);
    }
    .item6 img{
        width: 100%;
        border-radius: 4px;
    }
    .item7 {
        animation-delay: calc(20s / 10 * (10 - 7) * -1);
    }   
    .item7 img{
        width: 100%;
        border-radius: 4px;
    }
    .item8 {
        animation-delay: calc(20s / 10 * (10 - 8) * -1);
    }
    .item8 img{
        width: 100%;
        border-radius: 4px;
    }
    .item9 {
        animation-delay: calc(20s / 10 * (10 - 9) * -1);
    }
    .item9 img{
        width: 100%;
        border-radius: 4px;
    }
    .item10 {
        animation-delay: calc(20s / 10 * (10 - 10) * -1);
    }
    .item10 img{
        width: 100%;
        border-radius: 4px;
    }


    .main_button{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 20px;
        width: 90%;
        max-width: 100%;
        margin-inline: auto;
        position: relative;
        margin-top: 2rem;
    }

    .main_button div {
        position: relative;
        display: inline-block;
    }

    .main_button a {
        position: relative;
        display: inline-block;
    }

    .main_button a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(0, 191, 255, 0.5));
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0; /* 뒤쪽으로 */
        border-radius: 10px;
    }

    .main_button img {
        display: block;
        position: relative;
        z-index: 1; /* 이미지가 위로 */
        width: auto;
        height: auto;
        transition: transform 0.3s ease;
    }

    .main_button a:hover::before {
        opacity: 1;
    }


    .section {
    position: relative;
    width: 1180px;
    margin: 0 auto 40px
}

.game__description {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5
}

.game__description p {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500 !important;
    line-height: 1.5 !important
}

.game__video-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.game__video-wrapper--single-video {
    justify-content: center
}

.game__video {
    margin-bottom: 40px
}

.game__info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.game__info {
    display: flex;
    align-items: center;
    width: 580px;
    min-height: 110px;
    margin-bottom: 10px
}

.game__title {
    margin-bottom: 20px
}

@media(max-width: 500px) {
    .game {
        padding:5px 0
    }

    .game__description {
        margin-bottom: 20px;
        column-count: unset
    }

    .game__description p {
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 400
    }

    .game__video-wrapper {
        margin-bottom: 10px
    }

    .game__video {
        margin-bottom: 20px
    }

    .game__info {
        width: 100%;
        min-height: 45px;
        margin-bottom: 5px
    }

    .game__title {
        margin-bottom: 10px
    }
}

.game-info {
    display: flex;
    align-items: center
}

.game-info__subtitle {
    display: block;
    font-style: italic;
    font-size: 24px;
    color: #7495a1
}

.game-info__text {
    font-size: 24px;
    line-height: 1.22;
    color: #cfd8dc
}

.article .game-info__text p {
    color: #cfd8dc
}

.article .game-info__text p:last-child {
    margin-bottom: 0
}

.game-info__icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    fill: var(--wt-color-navy-50)
}

.game-info__icon--globus {
    stroke: var(--wt-color-navy-50)
}

@media(max-width: 500px) {
    .game-info {
        font-size:12px
    }

    .game-info__text,.game-info__subtitle {
        font-size: 12px
    }

    .game-info__icon {
        width: 30px;
        height: 30px;
        margin-right: 10px
    }
}

.game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    color: #cfd8dc
}

.game-title::after,.game-title::before {
    content: "";
    width: 22px;
    height: 20px;
    background: url(images/920788509f0b85662b05.svg) no-repeat 0 0;
    background-size: cover
}

.game-title::before {
    margin-right: 20px
}

.game-title::after {
    margin-left: 20px
}

@media(max-width: 500px) {
    .game-title {
        font-size:18px
    }

    .game-title::after,.game-title::before {
        width: 11px;
        height: 10px;
        margin: -3px 10px 0
    }
}

a {
    color: #7495a1;
    text-decoration: none;
    transition: color .3s ease
}

a:hover {
    color: #92d3f9;
    text-decoration: none
}


.footer{
        display: grid;
        margin-top: 4rem;
        text-align: center;
        place-items: center;
        background-color: #0A0E0F;
        width: 100%;
        height: 100px;
    }